<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookstore</title>
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../css/login_overlay.css" rel='stylesheet' type='text/css' />
<link href="../css/style6.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../css/shop.css" type="text/css" />
<link rel="stylesheet" href="../css/owl.carousel.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/owl.theme.css" type="text/css" media="all">
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/fontawesome-all.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
    rel="stylesheet">
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <style>
      .nav-pills{
        background-color: #f7f7f7;
      }
      .user-panel {
    /* position: relative; */
    /* width: 100%; */
    padding:0 20px;
    overflow: hidden;
}
.user-panel > .image > img {
    width: 100%;
    max-width: 45px;
    height: 45px;
}
.user-panel > .info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    /* position: absolute; */
    left: 55px;
}
.user-panel > .info > p {
    font-weight: 600;
    margin-top: 5px;
    color: #fff;
}
.aa{background;yellow;}
div#v-pills-search form input {
    width: calc(100% - 10px);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #DDD;
}
div#v-pills-search form li.aa:nth-child[even] {
width: calc(100% - 10px);
    padding: 10px 20px;
    font-family: arial;
    font-size: 14px;
    margin: 5px 0px;
    background-color: #DDD;
}
div#v-pills-search form li.aa:nth-child[odd] {
width: calc(100% - 10px);
    padding: 10px 20px;
    font-family: arial;
    font-size: 14px;
    margin: 5px 0px;
    background-color: #F5F5F5;
}
div#v-pills-search form li.aa {
width: calc(100% - 10px);
    padding: 10px 20px;
    font-family: arial;
    font-size: 14px;
    margin: 5px 0px;
    background-color: #F5F5F5;
}
div#v-pills-search form li.aa:nth-child[first-word] {
width: calc(100% - 10px);
    padding: 10px 20px;
    font-family: arial;
    font-size: 14px;
    margin: 5px 0px;
    background-color: #F5F5F5;
}
    </style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#"><b>  Bookstore</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
           
                 <li class="nav-item">
            <div class="user-panel float-right">
                
              </div>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light my-2 my-sm-0" href="/logout">Logout</a>
            </li>
            </ul>
          </div>
        </nav>
        
    <div class="container">
      <div class="row">

        <div class="col-sm-12">
          <br>
          <br>
           
          </div>
      </div>
      <div class="row">
          <div class="col-sm-3">
             


            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Add Book</a>
              <a class="nav-link " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Books Added</a>
			  
			  
			  <a class="nav-link " id="v-pills-search-tab" data-toggle="pill" href="#v-pills-search" role="tab" aria-controls="v-pills-profile" aria-selected="false">Search Books</a>
			  
			  	  <a class="nav-link " id="v-pills-order-tab" data-toggle="pill" href="#v-pills-order" role="tab" aria-controls="v-pills-profile" aria-selected="false">Added Products</a>
            
            </div>
          </div>
          <div class="col-sm-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                 
                
                   
                    
                     
                        

                            
                <form class="row" method="post" enctype="multipart/form-data" action="/upload-product">
                      <div class="form-group col-sm-6">
                        <label for="name">Book Name</label>
                        <input type="text" class="form-control" name="name" id="name"  placeholder="Enter Name" required>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" name="price" id="price" placeholder="Price" required>
                      </div>
                      <div class="form-group col-sm-6">
                          <label for="desc">Book Description</label>
                          <input type="text" class="form-control" name="desc" id="desc" placeholder="Description" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="cover">Cover Image</label>
                            <input type="file" class="form-control" name="file" id="cover" placeholder="Price" required>
                        </div>
                        <div class="form-group col-sm-12">  
                      <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
                    </form>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <table class="table table-striped table-bordered table-responsive">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">Figure</th>
                          <th scope="col">Price</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                          <% if(product.length) { 
                            for(var i=0;i<product.length;i++){ %> 
                        <tr>
                          <td><%= product[i].id %></th>
                          <td><%= product[i].name %></td>
                          <td><%= product[i].description %></td>
                          <td><img class="img-fluid"    src="/../uploads/<%= product[i].figure %>"></td>
                          <td><%= product[i].price %></td>
                          <td>
                            <a href="/delete/<%= product[i].id %>" class="btn btn-sm btn-danger">Delete</a>
                            <br/>
                            <br/>
                            <a href="/update/<%= product[i].id %>" class="btn btn-sm btn-warning">Update</a>
                          </td>
                        </tr>
                       <% } } else{ }  %>
                      </tbody>
                    </table>
              </div>  


			  
			  
			   <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
                  <table class="table table-striped table-bordered table-responsive">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Description</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                          <% if(ord.length){ 
                            for(var i=0;i<ord.length;i++){ %> 
                        <tr>
                          <td><%= ord[i].product_id %></th>
                          <td><%= ord[i].product_name %></td>
                          
                        </tr>
                       <% } } else{ }  %>
                      </tbody>
                    </table>
              </div>  






<div class="tab-pane fade" id="v-pills-search" role="tabpanel" aria-labelledby="v-pills-search-tab">
                  <form  method="post">
      <input type="text" name="search" value="">

      <ul class="results">
          <li><a href="#"></a></li>
      </ul>

      <div class="error">

      </div></form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>

<script type="text/javascript">
    $(document).ready(function(e){
        $('input[name="search"]').keyup(function(e){
            var key = $(this).val();
  $(".results").append("<li></li>");
            $.ajax({
                method:"post",
                url:"http://localhost:3000/search",
                data:{
                  keyword:key
                },
                cache: true,
                headers:{
                contentType: "json",
              },dataType:"text",
              success:function(response,responseText){
                $(".results").empty();

                // var q = jQuery.parseJSON(response.responseText);
                var res = JSON.parse(response);
                // console.log(res[0].college
                if(res.length > 0){
                for(var i = 0;i<res.length;i++){
			
				console.log(url);	
				
				var url = res[i].id;
				url = "/product/"+url;	
				$(".results").append("<li class=aa><a href='"+url+"'>"+res[i].name+"<span class='float-right'><b>"+res[i].price+
				  "</b></span></a></li>");
                }
              }else{
                  $(".results").append("<li>No Results Found</li>");
              }
              },error:function(response,responseText){

              }
            });
          });

    });
</script>
              </div>    











			  
            </div>
          </div>
        </div>
      </div>
    
  </body>
</html>
